.chart .line {
    fill: none;
}

.chart .legend-line {
    stroke-width: 3;
}

.chart .legend {
    stroke-width: 1;
}

.chart .grid line {
    stroke: #000000;
    stroke-opacity: 0.2;
    stroke-dasharray: 5 3;
    shape-rendering: crispEdges;
}

.chart .grid path {
    stroke-width: 0;
}
