.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

body {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.en, .jp {
    display: none;
}

[type=text] {
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.2);
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
}

[type=number] {
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.2);
    padding-left: 10px;
    padding-right: 0px;
    border-radius: 5px;
    width: 70px;
}

[type=button] {
    border-radius: 3px;
}

[type=button]:disabled {
    background-color: #cccccc;
    color: #ffffff;
}

select {
    border-radius: 3px;
    padding: 2px 5px 2px 5px;
}

.pane {
    margin: 20px 10px 20px 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
