#outermost-div {
    width: 1100px;
}

#lang {
    margin-top: -100px;
}

.param {
    font-size: 14pt;
    font-style: italic;
    font-weight: 400;
    font-family: Roman;
}

#popu-text {
    width: 120px;
}

#date0-text {
    width: 120px;
}

#advanced-div {
    margin-top: -20px;
}

#dyn-param-div {
    padding: 10px 20px 10px 20px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5) inset;
}

#dyn-param-tbl td {
    text-align: center;
    padding-right: 10px;
}

#dyn-param-tbl {
    width: 100%;
}